.centered {
    margin: 0 auto !important;
    float: none !important;
}

.tes {
    margin-left: 105px;
}

.content {
    margin-bottom: 50px;
}

.minhadiv{    
    position: relative;
    left: 80.8%;
    /* margin-left: 50px; */
}

a {
    text-decoration: none;
}